// cspell:ignore predeploy
version 0

cli {
	packageManager "yarn"
}

project "all" root="" {
	target "build" builder="@snuggery/snuggery:glob" {
		options {
			include "@snuggery/*"
		}
		configuration "predeploy" {
			exclude "@snuggery/yarn-plugin-*"
			options {
				packager "@snuggery/yarn"
			}
		}
	}

	target "build-affected" builder="@snuggery/affected:run" {
		options {
			target "build"
			unknownTarget "skip"
		}

		configuration "without-yarn-plugins" {
			exclude "@snuggery/yarn-plugin-*"
		}
	}

	target "test" builder="@snuggery/snuggery:execute" {
		options {
			package "uvu"
			arguments {
				- "--require"
				- "@snuggery-workspace/scripts/load-ts"
				- "--ignore"
				- "integration"
			}
		}
	}

	target "deploy" builder="@snuggery/yarn:deploy" {
		options {
			useWorkspacePlugin true
			buildTarget ":build:predeploy"
			exclude {
				- "@snuggery/yarn-plugin-*"
				- "integration"
				- "all"
			}
		}
		configuration "next" {
			distTag "next"
		}
	}

	target "lint" builder="@angular-eslint/builder:lint" {
		options {
			eslintConfig ".eslintrc.yml"
			ignorePath ".eslintignore"
			lintFilePatterns "packages/*/src/**/*.[tj]s" "integration"
		}
		configuration "ci" {
			silent true
			// cspell:ignore sarif
			format "@microsoft/eslint-formatter-sarif"
		}
	}

	target "lint-affected" builder="@snuggery/affected:with-files" {
		options {
			target "lint"
			optionName "lintFilePatterns"
			include "**/*.{,m,c}ts" \
			        "**/*.{,m,c}js"
		}
	}
}

(abstract)project "parent" {
	target "build" builder="@snuggery/node:build" {
		options {
			assets {
				- "README.md" "NOTICE.md"
				- "LICENSE.md" from="."
				- allowEmpty=true from=(project-relative)"src" {
					include "**/*.d.ts" "**/*.json"
				}
			}
		}
	}
}

project "@snuggery/snuggery" extends="parent" root="packages/snuggery"

project "@snuggery/global" extends="parent" root="packages/global" {
	target "build" {
		options {
			assets {
				super
				- ".pnp.loader.mjs" from="."
			}
		}
	}
}

project "@snuggery/affected" extends="parent" root="packages/affected"

project "@snuggery/architect" extends="parent" root="packages/architect"

project "@snuggery/core" extends="parent" root="packages/core"

project "@snuggery/angular" extends="parent" root="packages/angular" {
	target "build" {
		options {
			assets {
				super
				- "**/*" from=(project-relative)"src"
				- "tsconfig.base.json"
			}
		}
	}
}

project "@snuggery/node" extends="parent" root="packages/node"

project "@snuggery/schematics" extends="parent" root="packages/schematics"

project "@snuggery/yarn" extends="parent" root="packages/yarn"

project "@snuggery/yarn-plugin-snuggery" root="packages/yarn-plugin-snuggery" {
	target "build" builder="@snuggery/snuggery:execute" {
		options {
			package "@yarnpkg/builder"
			arguments "build" "plugin"
		}

		configuration "dev" {
			arguments "build" "plugin" "--no-minify"
		}
	}
}

project "integration" root="integration" {
	target "test" builder="@snuggery/snuggery:execute" {
		options {
			package "uvu"
			arguments "--require" "@snuggery-workspace/scripts/load-ts"
		}
	}
}
