on:
  push:
    branches:
      - main
  pull_request:

name: 'CI'
jobs:
  codestyle:
    name: 'Codestyle'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14.x

      - name: Install
        shell: bash
        env:
          YARN_ENABLE_NETWORK: 0
        run: |
          yarn install --immutable --immutable-cache

      - name: 'Check for formatting errors (fix w/ "yarn prettier --write path/to/file")'
        run: |
          yarn prettier --check .
        shell: bash

      - name: 'Check for linting errors (fix w/ "yarn lint -c fix")'
        run: |
          yarn sn lint
        shell: bash

  build-unit:
    name: Build & Unit
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14.x

      - name: Build
        shell: bash
        run: |
          yarn sn build

      - name: 'Run tests'
        shell: bash
        run: |
          yarn sn test

  integration:
    name: 'Integration tests on node.js ${{matrix.node}}.x on ${{matrix.os}}'
    needs: build
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        node:
          - 12
          - 14
          - 15

    steps:
      - uses: actions/checkout@v2

      - name: 'Use Node.js ${{matrix.node}}.x'
        uses: actions/setup-node@v2
        with:
          node-version: ${{matrix.node}}.x

      - name: 'Run tests'
        shell: bash
        run: |
          yarn sn test integration
